<div class="container mt-3">
    <div class="row">
        <div class="col-md-8">
            <h2>Contact List</h2>

            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Cindy Mapple</td>
                    <td>085632456422</td>
                    <td>
                        <a href="" class="btn btn-primary badge rounded-pill">detail</a>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>