<div class="container">
    <div class="row">
        <div class="col text-center">
            <!-- <img src="../img/valdryan.jpg" alt="Valdryan Ivandito"> -->
            <img src="img/valdryan.jpg" alt="Valdryan Ivandito" class="img-thumbnail rounded-circle" width="200">
            <h1 class="display-4">Valdryan Ivandito</h1>
            <p class="lead">Web3 Developer | Technopreneur</p>
        </div>
    </div>
</div>