body {
    background-color: black;
    color: white;
}

img {
    width: 720px
}

.c1 {
    font-size: 20px;
    background-color: gray;
    border: 1px solid red;
    padding: 20px;
    margin: 20px;
}

.c2 {
    font-size: 20px;
    background-color: gray;
    border: 5px solid red;
    padding: 40px;
    margin: 40px;
}