<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('./partials/head.ejs') %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- NAVBAR -->
    <%- include('./partials/navbar.ejs') %>
    <!-- CONTAINER -->
    <div class="container mt-5">
        <h3><b>Statistic</b></h3>
        <div class="card">
            <div class="card-body d-flex justify-content-center">
                <div class="border m-3 p-3 w-25 mx-5">
                    <h4>Post</h4>
                    <div class="mb-2">Total Entities</div>
                    <h4>10</h4>
                </div>
                <div class="border m-3 p-3 w-25 mx-5">
                    <h4>Post</h4>
                    <div class="mb-2">Total Entities</div>
                    <h4>100</h4>
                </div>
                <div class="border m-3 p-3 w-25 mx-5">
                    <h4>Post</h4>
                    <div class="mb-2">Total Entities</div>
                    <h4>90</h4>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>
